@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    /* Variabler */
    --primary-color: #ffffff;
    --background-color: #006699;
    --link-color: #005a9a;
}


body {
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
}

.container {
    max-width: 1140px;
    margin: auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

p {
    margin: 12px 0;
}

h2 {
    color: #666;
    font-size: 1.8em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 18px;
}

figure {
    text-align: center;
}

figure img {
    width: 95%;
    max-width: 100%;
}

.btn {
    background: #f2f4f4;
    color: #273540;
    border: 1px solid;
    border-color: #e8eaec;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    display: inline-block;
    position: relative;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    -webkit-user-select: none;
    user-select: none
}

.btn:hover {
    background: #e4e8e8;
    color: #273540
}

.rightfloat {
    float: right;
}

.leftfloat {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
}

.notify-colorful {
    padding: 1em;
    border: 1px solid #ccc;
    border-left: 0.5em solid var(--background-color);
    border-radius: 0.5em;
    width: 98%;
    margin: 0 auto;
}